.idea

Server/django/backend/migrations/0014_auto_20170418_1308.py

Server/django/backend/migrations/0015_auto_20170418_1342.py

media/avatars/iphone-4-closeup_GSMtnRt.jpg

media/avatars/iphone-4-closeup_9tt3pCG.jpg

media/avatars/photo-1416453072034-c8dbfa2856b5_OJUB5C6.jpg

media/avatars/avatar04.png

media/avatars/avatar5.png

Server/django/website/static/website/dist/.DS_Store

Server/django/website/static/website/dist/.DS_Store
