appdirs==1.4.0
Django==1.10.5
django-braces==1.11.0
django-filter==1.0.1
django-oauth-toolkit==0.12.0
djangorestframework==3.5.4
Markdown==2.6.8
oauthlib==2.0.1
packaging==16.8
pyparsing==2.1.10
selenium==3.0.2
six==1.10.0
