{% extends 'website/auth/base_login.html' %}
{% load static %}
{% block content %}
<body class="hold-transition register-page">
<div class="register-box">
  
  <div class="register-box-body">
        <img src="{% static 'website/dist/img/Organized.png' %}" class="user-image" alt="Logo Image" width="50%" height="50%">
          <p href="http://ekulturportal.de/" class="whiteFont"><b class="orangeBold">e</b><b class="whiteFont">KulturPortal</b></p>    
      
      
    <p class="login-box-msg">Einen neuen Benutzer registrieren:</p>

    <form action="../../index.html" method="post">
      <div class="form-group has-feedback">
        <input type="text" class="form-control" placeholder="Vollständiger Name">
        <span class="glyphicon glyphicon-user form-control-feedback"></span>
      </div>
      <div class="form-group has-feedback">
        <input type="email" class="form-control" placeholder="Email">
        <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
      </div>
      <div class="form-group has-feedback">
        <input type="password" class="form-control" placeholder="Passwort">
        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
      </div>
      <div class="form-group has-feedback">
        <input type="password" class="form-control" placeholder="Passwort erneut eingeben">
        <span class="glyphicon glyphicon-log-in form-control-feedback"></span>
      </div>
      <div class="row">
        <div class="col-xs-8">
          <div class="checkbox icheck">
            <label>
                <input type="checkbox">  Ich stimme den <a href="#">AGBs</a> zu</input>
            </label>
          </div>
        </div>
        <!-- /.col -->
        <div class="col-xs-4">
          <button type="submit" class="btn btn-primary btn-block btn-flat">Absenden</button>
        </div>
        <!-- /.col -->
      </div>
    </form>

   
    <a href="login.html" class="text-center">Ich habe bereits ein Konto</a>
  </div>
  <!-- /.form-box -->
</div>
<!-- /.register-box -->

<!-- jQuery 2.2.3 -->
<script src="../../plugins/jQuery/jquery-2.2.3.min.js"></script>
<!-- Bootstrap 3.3.6 -->
<script src="../../bootstrap/js/bootstrap.min.js"></script>
<!-- iCheck -->
<script src="../../plugins/iCheck/icheck.min.js"></script>
<script>
  $(function () {
    $('input').iCheck({
      checkboxClass: 'icheckbox_square-blue',
      radioClass: 'iradio_square-blue',
      increaseArea: '20%' // optional
    });
  });
</script>
</body>
{% endblock %}