{% extends 'website/base.html' %}
{% block test %}

            <div class="collapse navbar-collapse pull-right" id="navbar-collapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="/calendar"><i class="fa fa-calendar" aria-hidden="true"></i> Kalender<span class="sr-only">(current)</span></a></li>
                    <li><a href="/groups"><i class="fa fa-users" aria-hidden="true"></i> Gruppenverwaltung</a></li>
                    <li><a href="/profile"><i class="fa fa-user" aria-hidden="true"></i> Nutzerverwaltung</a></li>
                </ul>
                <form class="navbar-form navbar-left" role="search">
                    <div class="form-group">
                        <input type="text" class="form-control" id="navbar-search-input" placeholder="Search for user">
                    </div>
                </form>
            </div>
        </div>
    </nav>
</header>

<div id="testingHide">
    <ul id="myUL"></ul>
</div>

<div id="userModal" class="modal fade modal-primary">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Schließen"><span aria-hidden="true">&times;</span>               </button>
                <h4 id="modalUserName"></h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-8">
                        <div><label>Email:</label></div>
                        <div><p id="modalUserMail"></p></div>
                                
                        <div><label>Telefon:</label></div>
                        <div><p id="modalUserTel"></p></div>
                                
                        <div><label>Anmerkungen zu Kontaktdaten:</label></div>
                        <div><p id="modalUserNote"></p></div>
                                
                        <div><label>Standort:</label></div>
                        <div><p id="modalUserPlace"></p></div>
                        
                        <div><label>Ausbildung:</label></div>
                        <div><p id="modalUserAusbildung"></p></div>
                                
                        <div><label>Skills:</label></div>
                        <div><p id="modalUserSkills"></p></div>
                    </div>
                    <div class="col-sm-4">
                        <div>
                            <!-- <img src="../dist/img/user2-160x160.jpg" id="modalUserImg"></img> -->
                        </div>
                        <br>
                        <div><p id="modalUserJob">Schauspieler</p></div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Schließen</button>
            </div>
        </div>
    </div>
</div>

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <section class="content-header">
      <h1>eKulturPortal</h1>
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="row">
        <div class="col-md-3">
            <div class="box box-solid">
                <div class="box-header with-border">
                    <h4 class="box-title">Neuer Termin</h4>
                </div>
                <div class="box-body">
                    <button id="addNewEvent" type="button" class="btn btn-primary">Termin Hinzufügen</button>
                </div>
            </div>
            <div class="box box-solid">
            <div class="box-header with-border">
                <h4 class="box-title">Favoriten</h4>
            </div>
                <div class="box-body">
                    <div id="external-events">
                        <div class="external-event bg-yellow">Go home</div>
                        <div class="checkbox">
                            <label for="drop-remove">
                                <input type="checkbox" id="drop-remove">remove after drop
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="box box-solid">
                <div class="box-header with-border">
                    <h3 class="box-title">Neuer Favorit</h3>
                </div>
                <div class="box-body">
                    <div class="btn-group" style="width: 100%; margin-bottom: 10px;">
                        <ul class="fc-color-picker" id="color-chooser">
                           <li><a class="text-aqua" href="#"><i class="fa fa-square"></i></a></li>
                           <li><a class="text-blue" href="#"><i class="fa fa-square"></i></a></li>
                           <li><a class="text-light-blue" href="#"><i class="fa fa-square"></i></a></li>
                           <li><a class="text-teal" href="#"><i class="fa fa-square"></i></a></li>
                           <li><a class="text-yellow" href="#"><i class="fa fa-square"></i></a></li>
                           <li><a class="text-orange" href="#"><i class="fa fa-square"></i></a></li>
                           <li><a class="text-lime" href="#"><i class="fa fa-square"></i></a></li>
                           <li><a class="text-purple" href="#"><i class="fa fa-square"></i></a></li>
                           <li><a class="text-fuchsia" href="#"><i class="fa fa-square"></i></a></li>
                           <li><a class="text-navy" href="#"><i class="fa fa-square"></i></a></li>
                        </ul>
                    </div>
                    <div class="input-group">
                        <input id="new-event" type="text" class="form-control" placeholder="Event Title">
                        <div class="input-group-btn">
                            <button id="add-new-event" type="button" class="btn btn-primary btn-flat">Add</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-9">
            <div class="nav-tabs-custom">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#tab_1" data-toggle="tab">Kalender</a></li>
                    <li><a href="#tab_2" data-toggle="tab">Terminübersicht <span id="appointmentCount" class="label label-success"></span></a></li>
                </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="tab_1">
                    <div id="calView" class="box box-primary">
                        <div class="box-body no-padding">
                           <div id="calendar"></div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="tab_2">
                    <div class="box box-solid">
                        <div class="box-body">
                            <div class="box-group" id="accordion">
                                <div class="panel box box-primary">
                                    <div class="box-header with-border">
                                        <h3 class="box-title">Termine ausstehend</h3>
                                        <ul id="appointmentListPending"></ul>
                                    </div>
                                </div>
                                <div class="panel box box-success">
                                    <div class="box-header with-border">
                                        <h3 class="box-title">Termine angenommen</h3>
                                        <ul id="appointmentListYes"></ul>
                                    </div>
                                </div>
                                <div class="panel box box-danger">
                                    <div class="box-header with-border">
                                        <h3 class="box-title">Termine abgelehnt</h3>
                                        <ul id="appointmentListNo"></ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Modal New Appointment -->
                <div id="appointment" class="modal fade">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                                <h4 class="modal-title">Neuer Termin</h4>
                            </div>
                            <div class="modal-body">
                                <div class="form-group">
                                    <label>Titel</label>
                                    <input id="title" type="text" class="form-control" placeholder="Enter ...">
                                </div>
                                <div class="form-group">
                                    <label>Datum:</label>
                                    <div class="input-group" >
                                        <div class="input-group-addon">
                                            <i class="fa fa-clock-o"></i>
                                        </div>
                                        <input type="text" class="form-control" id="reservationtime" >
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label>
                                        <input id="allDay" type="checkbox" class="minimal">Ganztägig
                                    </label>
                                </div>
                                <div class="bootstrap-timepicker">
                                    <div class="form-group">
                                        <label>Beginn:</label>
                                        <div class="input-group">
                                            <input id="startTime" type="text" class="form-control timepicker" >
                                            <div class="input-group-addon">
                                                <i class="fa fa-clock-o"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="bootstrap-timepicker">
                                    <div class="form-group">
                                        <label>Ende:</label>
                                        <div class="input-group">
                                            <input id="endTime" type="text" class="form-control timepicker" >
                                            <div class="input-group-addon">
                                                <i class="fa fa-clock-o"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label>
                                        <input id="group" type="checkbox" class="minimal" checked>Gruppe auswählen
                                    </label>
                                    <select id="groupList" class="chzn-select">
                                        <option>Theater Gruppe</option>
                                        <option>Abteilung 1</option>
                                        <option>Regensburg</option>
                                        <option>Abteilung 2</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label>
                                        <input id="user" type="checkbox" class="minimal">Benutzer auswählen:
                                    </label>
                                    <select id="userList" data-placeholder="Benutzer auswählen..." multiple class="chzn-select" disabled>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label>Anmerkungen</label>
                                    <textarea id="remark" class="form-control" rows="3" placeholder="Enter ..."></textarea>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Schließen</button>
                                <button id="saveEvent" type="button" class="btn btn-primary">Speichern</button>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Modal Edit Appointment --> 
                <div id="appointmentEditPut" class="modal fade">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                                <h4 class="modal-title">Termin bearbeiten</h4>
                            </div>
                            <div class="modal-body">
                                <div class="form-group">
                                    <label>Titel</label>
                                    <input id="titleEditPut" type="text" class="form-control" placeholder="Enter ...">
                                </div>
                            <div class="form-group">
                                <label>Datum:</label>
                                <div class="input-group" >
                                    <div class="input-group-addon">
                                        <i class="fa fa-clock-o"></i>
                                    </div>
                                    <input type="text" class="form-control" id="reservationtimeEditPut" disabled>
                                </div>
                            </div>
                            <div class="bootstrap-timepicker">
                                <div class="form-group">
                                    <label>Beginn:</label>
                                    <div class="input-group">
                                        <input id="startTimeEditPut" type="text" class="form-control timepicker" disabled>
                                        <div class="input-group-addon">
                                            <i class="fa fa-clock-o"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="bootstrap-timepicker">
                                <div class="form-group">
                                    <label>Ende:</label>
                                    <div class="input-group">
                                        <input id="endTimeEditPut" type="text" class="form-control timepicker" disabled>
                                        <div class="input-group-addon">
                                            <i class="fa fa-clock-o"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label>
                                    <input id="allDayEditPut" type="checkbox" class="minimal" disabled>Ganztägig
                                </label>
                            </div>
                            <div class="form-group">
                                <label>Gruppe auswählen:</label>
                                <select class="form-control" disabled>
                                    <option>Theater Gruppe</option>
                                    <option>Abteilung 1</option>
                                    <option>Regensburg</option>
                                    <option>Abteilung 2</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label>
                                    <input id="userEditPut" type="checkbox" class="minimal" disabled>Benutzer auswählen
                                </label>
                            </div>
                            <div class="form-group">
                                <label>Benutzer auswählen:</label>
                                <select id="userListEditPut" multiple class="form-control" disabled>
                                </select>
                            </div>
                            <div class="form-group">
                                <label>Anmerkungen</label>
                                <textarea id="remarkEditPut" class="form-control" rows="3" placeholder="Enter ..."></textarea>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Schließen</button>
                            <button id="saveEventEditPut" type="button" class="btn btn-primary">Bearbeitung abschicken</button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Modal Drop Appointment -->
            <div id="dropAppointment" class="modal fade">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <h4 id="dropTitleName" class="modal-title"></h4>
                        </div>
                        <div class="modal-body">
                            <div class="bootstrap-timepicker">
                                <div class="form-group">
                                    <label>Beginn:</label>
                                    <div class="input-group">
                                        <input id="startTime" type="text" class="form-control timepicker">
                                        <div class="input-group-addon">
                                            <i class="fa fa-clock-o"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="bootstrap-timepicker">
                                <div class="form-group">
                                    <label>Ende:</label>
                                    <div class="input-group">
                                        <input id="endTime" type="text" class="form-control timepicker">
                                        <div class="input-group-addon">
                                            <i class="fa fa-clock-o"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label>
                                    <input id="allDay" type="checkbox" class="minimal">Ganztägig
                                </label>
                            </div>
                            <div class="form-group">
                                <label>Gruppe auswählen:</label>
                                <select class="form-control">
                                    <option>Theater Gruppe</option>
                                    <option>Abteilung 1</option>
                                    <option>Regensburg</option>
                                    <option>Abteilung 2</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label>
                                    <input id="user" type="checkbox" class="minimal">Benutzer auswählen
                                </label>
                            </div>
                            <div class="form-group">
                                <label>Benutzer auswählen:</label>
                                <select id="userList" multiple class="form-control" disabled>
                                    <option>Tobias</option>
                                    <option>Mathias</option>
                                    <option>Igor</option>
                                    <option>Gabriel</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label>Anmerkungen</label>
                                <textarea class="form-control" rows="3" placeholder="Enter ..."></textarea>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Schließen</button>
                            <button id="saveEventDrop" type="button" class="btn btn-primary">Speichern</button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Modal Drop Appointment -->
            <div id="editAppointment" class="modal fade modal-primary">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button id="editEvent" type="button" class="btn btn-success btn-sm pull-right">
                                <span class="glyphicon glyphicon glyphicon-pencil"></span>
                            </button>
                            <h4 id="titleEvent">Titel</p>>Neuer Termin</h4>
                        </div>
                        <div class="modal-body">
                            <div><label>Start:</label></div>
                            <div><p id="startEvent">Start</p></div>
                        
                            <div><label id="endLabel">Ende:</label></div>
                            <div><p id="endEvent">Ende</p></div>
                        
                            <div><label>Ganztägig:</label></div>
                            <div><p id="allDayEvent">true</p></div>
                         
                            <div><label>Gruppe:</label></div>
                            
                            <div><label>Benutzer auswählen:</label></div>
                        
                            <div><label>Anmerkungen:</label></div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Schließen</button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Modal Accept Appointment -->
            <div id="acceptAppointment" class="modal fade modal-primary">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <h4 class="modal-title">Termin annehmen</h4>
                        </div>
                        <div class="modal-body">
                            <p>Möchten Sie den Termin annehmen und zu ihrem persönlichen Kalender hinzufügen?</p>
                        </div>
                        <div id="accAppDiv" class="modal-footer">
                            <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Schließen</button>
                            <button id="sendYes" type="button" class="btn btn-success">Termin annehmen</button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Modal Decline Appointment -->
            <div id="declineAppointment" class="modal fade modal-primary">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <h4 class="modal-title">Termin ablehnen</h4>
                        </div>
                        <div class="modal-body">
                            <p>Möchten Sie den Termin ablehnen?</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Schließen</button>
                            <button id="sendNo" type="button" class="btn btn-danger">Termin ablehnen</button>
                        </div>
                    </div>
                </div>
            </div>
        
{% endblock %}
{% block calFunc %}
<script>
$(function () {
    
    //Global Variables
    var events = [];
    var eventSentData = "";
    var calEventID="";

    
    // Initiate Lists
    $(".chzn-select").chosen({
    width:"100%"
    });
    
    
    // Send CSR Token for Ajax
    var csrftoken = $.cookie('csrftoken');
    
    function csrfSafeMethod(method) {
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }

    $.ajaxSetup({
        beforeSend: function(xhr, settings) {
            if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
            }
        }
    });

    
    // Initiate Search Function
    //// Add Keyup Function for Searchbar
    $('#navbar-search-input').on('keyup', function() {
        var input, filter, ul, li, a, i;
        
        input = document.getElementById('navbar-search-input');
        filter = input.value.toUpperCase();
        ul = document.getElementById("myUL");
        li = ul.getElementsByTagName('li');
        
        $("#testingHide").show();
        $(".content-wrapper").hide();

        for (i = 0; i < li.length; i++) {
            a = li[i].getElementsByTagName("a")[0];
            if (a.innerHTML.toUpperCase().indexOf(filter) > -1) {
                li[i].style.display = "";
            } else {
                li[i].style.display = "none";
            }
        }
        if(input.value === "") {
            $("#testingHide").hide();
            $(".content-wrapper").show();
        }
    });
    
    //// Config Result List
    $.ajax({
        type: "GET",
        url: "http://localhost:8000/api/actor/",
        success: function(data)
            {
                for (var key in data) {
                    if(data[key].first_name ==  "" && data[key].last_name == "") {
                        var actorName = "Kein Name angegeben";
                    }
                    else {
                        var actorName = data[key].first_name + " " + data[key].last_name;
                    }
                    var actorEmail = data[key].email;
                    $('#myUL').append('<li><a id='+data[key].id+' class="userSearchResult">'+actorEmail+' - ' + actorName +'</a></li>');
                }
            }
    });            
                
    $("#myUL").on("click", ".userSearchResult", function(e){
        var userID = e.currentTarget.id;
        
        $.ajax({
            type: "GET",
            url: "http://localhost:8000/api/actor/"+userID+"/",
            success: function (data) {
                $("#modalUserName").text(data.first_name +" "+ data.last_name);
                $("#modalUserMail").text(data.email);
                //$("#modalUserTel").text(data.tel);
                //$("#modalUserNote").text(data.notes);
                //$("#modalUserPlace").text(data.place);
            }
        });
        
        $("#userModal").modal('show');
    });
    
    $("#testingHide").hide();
    
        
    // Load Favorites
    $.ajax({
        type: "GET",
        url: "http://localhost:8000/api/favorites/",
        success: function(data)
            {
                for (var key in data) {
                    $('#external-events').prepend('<div class="external-event" style="background-color:#'+data[key].color+';color:#fff">'+data[key].name+'</div>');
                }   
                ini_events($('#external-events div.external-event'));
            }
    });


    // Load Appointments
    $.ajax({
        type: "GET",
        url: "http://localhost:8000/api/appointment/",
        success: function(data)
            {

                for (var key in data) {
                    var event = {
                            title: data[key].name,
                            start: data[key].dtstart,
                            end: data[key].dtend,
                            id: data[key].id,
                            answer: data[key].own_answer
                    };
                    events.push(event);

                    switch (event.answer) {

                        case "y":
                            $("#appointmentListYes").append('<h4 id="eventList'+event.id+'">'+event.title+'<button id="noEvent'+event.id+'"  type="button" class="btn btn-danger btn-sm pull-right"><span class="ion-close-circled"></span></button><button id="yesEvent'+event.id+'"  type="button" class="btn btn-success btn-sm pull-right"><span class="ion-checkmark-circled"></span></button><br>'+event.start+'</h4><hr>');
                           break;
                        case "n":
                            $("#appointmentListNo").append('<h4 id="eventList'+event.id+'">'+event.title+'<button id="noEvent'+event.id+'"  type="button" class="btn btn-danger btn-sm pull-right"><span class="ion-close-circled"></span></button><button id="yesEvent'+event.id+'"  type="button" class="btn btn-success btn-sm pull-right"><span class="ion-checkmark-circled"></span></button><br>'+event.start+'</h4><hr>');
                            break;
                        default:
                            $("#appointmentListPending").append('<h4 id="eventList'+event.id+'">'+event.title+'<button id="noEvent'+event.id+'"  type="button" class="btn btn-danger btn-sm pull-right"><span class="ion-close-circled"></span></button><button id="yesEvent'+event.id+'"  type="button" class="btn btn-success btn-sm pull-right"><span class="ion-checkmark-circled"></span></button><br>'+event.start+'</h4><hr>');
                            break;
                    }

                    $('#yesEvent'+event.id).attr("buttonId",event.id);
                    $('#noEvent'+event.id).attr("buttonId",event.id);

                    $('#yesEvent'+event.id).click(function (e){
                        $('#acceptAppointment').modal('show');
                        eventSentData =  e.currentTarget.id;
                        eventSentData = eventSentData.substring(eventSentData.indexOf("t") + 1);

                    });

                    $('#noEvent'+event.id).click(function (e){
                        $('#declineAppointment').modal('show');
                          eventSentData =  e.currentTarget.id;
                        eventSentData = eventSentData.substring(eventSentData.indexOf("t") + 1);
                    });

                }
           
                // TODO
                $('#sendYes').click(function (e) {
                    e.preventDefault();
                    console.log(eventSentData);
                            var formData =  {"answer": "yes"}
                    $.ajax({
                        url : "http://localhost:8000/api/appointment/"+eventSentData+"/response/",
                        type: "POST",
                        data : formData,
                        success: function(data, textStatus, jqXHR)
                            {
                                location.reload();
                            },
                        error: function (jqXHR, textStatus, errorThrown) {
                            console.log(jqXHR);
                        }
                    });
                });
                
                // TODO
                 $('#sendNo').click(function (e) {
                    e.preventDefault();
                    console.log(eventSentData);
                            var formData =  {"answer": "no"}
                    $.ajax({
                        url : "http://localhost:8000/api/appointment/"+eventSentData+"/response/",
                        type: "POST",
                        data : formData,
                        success: function(data, textStatus, jqXHR)
                            {
                                location.reload();
                            },
                        error: function (jqXHR, textStatus, errorThrown) {
                            console.log(jqXHR);
                        }
                    });
                });

                $("#appointmentCount").text(events.length);
                
                $('#calendar').fullCalendar('removeEvents');
                $('#calendar').fullCalendar('addEventSource', events);
                $('#calendar').fullCalendar('refetchEvents');


            }
    });

   
    // initialize the favorites
    function ini_events(ele) {
        ele.each(function () {
            
            var eventObject = {
                    title: $.trim($(this).text()) 
            };
            $(this).data('eventObject', eventObject);

            $(this).draggable({
                zIndex: 1070,
                revert: true, 
                revertDuration: 0
            });
        });
    }

    ini_events($('#external-events div.external-event'));

    
    // initialize the calendar
    var date = new Date();
    var d = date.getDate(),
        m = date.getMonth(),
        y = date.getFullYear();
    $('#calendar').fullCalendar({
        header: {
            left: 'prev,next today',
            center: 'title',
            right: 'month,agendaWeek,agendaDay'
        },
        
        buttonText: {
            today: 'today',
            month: 'month',
            week: 'week',
            day: 'day'
        },
        
        eventRender: function(event, element) {
            element.popover({
                title: event.name,
                placement: 'right',
                content: + '<br />Start:',
            });
        },
        
        eventClick: function(calEvent, jsEvent, view) {
            var titleEdit = "";
            var startEdit = "";
                
            calEventID = calEvent.id;
                
            $.ajax({    
                type: "GET",
                url: "http://localhost:8000/api/appointment/"+calEvent.id+"/",
                success: function(data)
                    {
                        $('#titleEvent').text(data.name);
                        titleEdit = $('#titleEvent').text();
                        
                        $('#startEvent').text(data.date_begin);
                        startEdit = $('#startEvent').text();
                        
                        $('#endEvent').text(data.date_end);

                        // weitere hinzufügen
                        $('#editAppointment').modal('show');
                    }
            });

            $("#editEvent").click(function (e){
                e.preventDefault();
                    $('#editAppointment').modal('hide');
                    $('#titleEditPut').val(titleEdit);
                    $('#startTimeEditPut').val(startEdit);
                setTimeout(function(){$('#appointmentEditPut').modal('show');}, 300);
            });
        },

        editable: true,
        eventAfterRender: function (event, element, view) {
                   switch (event.answer) {
                       case "y":
                          element.css('background-color', '#00a65a');
                          break;
                       case "n":
                          element.css('background-color', '#dd4b39');
                          break;
                       default:
                          element.css('background-color', '#3c8dbc');
                          break;
                   }
            var eventID = event.id;
            var eventStart = Date.parse(event.start._d);
            var eventEnd = Date.parse(event.end._d);

            for (var key in events){
                var eventsStart = Date.parse(events[key].start);
                var eventsEnd = Date.parse(events[key].end);
                var eventsAnswer = events[key].answer;

                    if(eventID !== events[key].id && (eventStart <= eventsStart && eventEnd <= eventsEnd && eventEnd > eventsStart)) {
                       overlapping();
                    }
                    else if(eventID !== events[key].id && (eventStart <= eventsStart && eventEnd >= eventsEnd)) {
                        overlapping();
                    }
                    else if(eventID !== events[key].id && (eventStart >= eventsStart && eventEnd <= eventsEnd && eventEnd > eventsStart)) {
                        overlapping();
                    }
                    else if(eventID !== events[key].id && (eventStart >= eventsStart && eventsEnd >= eventStart)){
                        overlapping();
                    }
                    else {
                    }
                }

                function overlapping(){
                        //var s = '<span class="glyphicon glyphicon-info-sign"> '+events[key].title+'</span><br>';
                        //var span = document.createElement('span');
                        //span.innerHTML = s;
                        //element[0].children[0].prepend(span);
                        element.css('background-color', '#fff600');
                        element.css('border-color', '#000000');
                        element.css('color', '#000000');
                }


        },
        droppable: true, 
        drop: function (date, allDay, e) { 
                $('#dropTitleName').text(allDay.target.innerHTML);
                $('#dropAppointment').modal('show');      
        }
    });
    
    
    // Initiate DateRangePicker
    $('#reservationtime').daterangepicker({
        "singleDatePicker": true,
        "showWeekNumbers": true,
        "showISOWeekNumbers": true,
        "timePickerIncrement": 15,
        "locale": {
            "format": "DD/MM/YYYY",
            "separator": " . ",
            "applyLabel": "Bestätigen",
            "cancelLabel": "Abbrechen",
            "fromLabel": "Von",
            "toLabel": "Bis",
            "customRangeLabel": "Custom",
            "weekLabel": "W",
            "daysOfWeek": ["So","Mo","Di","Mi","Do","Fr","Sa"],
            "monthNames": ["Januar","Februar","März","April","Mai","Juni","Juli","August","September","Oktober","November","Dezember"],
            "firstDay": 1
        },
        "parentEl": "reservationtime",
        "opens": "center"
    });

    
    // Initiate TimePicker
    $(".timepicker").timepicker({
        showInputs: false,
        showMeridian: false
    });


    
    // Initiate Checkboxes
    $('input[type="checkbox"].minimal').iCheck({
        checkboxClass: 'icheckbox_minimal-blue'
    })

    $('input[type="checkbox"][id="group"]').on('ifChecked', function(event){
        $('#groupList').prop('disabled', false).trigger("chosen:updated");
    });
    
    $('input[type="checkbox"][id="group"]').on('ifUnchecked', function(event){
        $('#groupList').prop('disabled', true).trigger("chosen:updated");
    });

    $('input[type="checkbox"][id="user"]').on('ifChecked', function(event){
        $('#userList').prop('disabled', false).trigger("chosen:updated");
    });
    
    $('input[type="checkbox"][id="user"]').on('ifUnchecked', function(event){
        $('#userList').prop('disabled', true).trigger("chosen:updated");
    });

    $('input[type="checkbox"][id="allDay"]').on('ifChecked', function(event){
        $("#startTime").attr("disabled", true);
        $("#endTime").attr("disabled", true);
    });
    
    $('input[type="checkbox"][id="allDay"]').on('ifUnchecked', function(event){
        $("#startTime").attr("disabled", false);
        $("#endTime").attr("disabled", false);
    });

    
    // New Event Button Function
    $("#addNewEvent").click(function (e){
        e.preventDefault();

        $.ajax({
            type: "GET",
            url: "http://localhost:8000/api/actor/",
            success: function(data)
                {
                    for (var key in data) {
                        if(data[key].first_name ==  "" && data[key].last_name == "") {
                            var actorName = "Kein Name angegeben";
                        }
                        else {
                            var actorName = data[key].first_name + " " + data[key].last_name;
                        }
                        var actorEmail = data[key].email;
                        $('#userList').append('<option>'+actorEmail+' - ' + actorName +'</option>');
                    }
                    $("#userList").trigger("chosen:updated");
                }
        });
                
   
        // TODO AJAX for Groups 
        $.ajax({
            type: "GET",
            url: "http://localhost:8000/api/groups/",
            success: function(data)
                {
                    for (var key in data) {
                        $('#groupList').append('<option>'+ data[key].name +'</option>');
                    }
                    $("#groupList").trigger("chosen:updated");
                }
        });
                
                
        $('#appointment').modal('show');
    });

    
    // New Event Button Function Save
    $("#saveEvent").click(function (e){
        var title = $("#title").val();
        var desc = $("#remark").val();
        var actors = ["a@b.com"];
        var formData = {name: title, organizer: 1};
        
        $.ajax({
            type: "POST",
            url : "http://localhost:8000/api/appointment/",
            data : formData,
            success: function(data, textStatus, jqXHR)
                {
                    var objectAppID = data.id;
                    $('#appointment').modal('hide');

                    // TODO Send Actors
                    $.ajax({
                        url : "http://localhost:8000/api/appointment/10/addActors",
                        type: "POST",
                        data : "{participants: [id: 1, email:'a@b.com']}",
                        success: function(data, textStatus, jqXHR)
                            {   
                                console.log(jqXHR);
                                console.log(textStatus);
                                console.log(data);
                            },
                        error: function (jqXHR, textStatus, errorThrown)
                            {
                                console.log(jqXHR);
                            }
                    });
                },
            error: function (jqXHR, textStatus, errorThrown)
                {
                    console.log(jqXHR);
                }
        });
    });
    
    
    // TODO New Event After Drop Function Save
    $("#saveEventDrop").click(function (e){
        console.log("sending");
    });


    // Edit Event Save
    $("#saveEventEditPut").click(function (e){
        var title = $("#titleEditPut").val();
        var desc = $("#remarkEditPut").val();
        var formData = {name: title,date_begin:"",date_end:"",town:"",location:"",description:desc,notes:""};

        $.ajax({
            url : "http://localhost:8000/api/appointment/"+calEventID+"/",
            type: "PUT",
            data : formData,
            success: function(data, textStatus, jqXHR)
                {   
                    $('#appointmentEditPut').modal('hide');
                    location.reload();
                },
            error: function (jqXHR, textStatus, errorThrown)
                {
                    console.log(jqXHR);
                }
        });
    });

                
    // Config Favorites 
    var currColor = "#3c8dbc"; 
    var colorChooser = $("#color-chooser-btn");
    var currColorHex = "";
    
    $("#color-chooser > li > a").click(function (e) {
        e.preventDefault();
        currColor = $(this).css("color");
        currColorHex = rgb2hex(currColor);
     
        $('#add-new-event').css({"background-color": currColor, "border-color": currColor});
    });

    // Send new Favorit to Django
    $("#add-new-event").click(function (e) {
        var val = $("#new-event").val();
        var formData = { name: val, color: currColorHex, organizer: 1}
        
        $.ajax({
            url : "http://localhost:8000/api/favorites/",
            type: "POST",
            data : formData,
            success: function(data, textStatus, jqXHR)
                {
                    console.log(objectAppID);
                    $("#new-event").val("");
                },
            error: function (jqXHR, textStatus, errorThrown)
                {
                    console.log(jqXHR);
                }
            });
    });


    // Convert RGB to HEX
    function rgb2hex(rgb){
        rgb = rgb.match(/^rgba?[\s+]?\([\s+]?(\d+)[\s+]?,[\s+]?(\d+)[\s+]?,[\s+]?(\d+)[\s+]?/i);
        return (rgb && rgb.length === 4) ? + ("0" + parseInt(rgb[1],10).toString(16)).slice(-2) +
                                             ("0" + parseInt(rgb[2],10).toString(16)).slice(-2) +
                                             ("0" + parseInt(rgb[3],10).toString(16)).slice(-2) : '';
    }
});
</script>

{% endblock %}