{% extends 'website/base.html' %}
{% load static %}
{% block htmlBody %}

            <!-- Navigation Bar -->
            <div class="collapse navbar-collapse pull-right" id="navbar-collapse">
                <ul class="nav navbar-nav">
                    <li><a href="/calendar"><i class="fa fa-calendar" aria-hidden="true"></i> Kalender<span class="sr-only">(current)</span></a></li>
                    <li class="active"><a href="/groups"><i class="fa fa-users" aria-hidden="true"></i> Gruppenverwaltung</a></li>
                    <li><a href="/profile/"><i class="fa fa-user" aria-hidden="true"></i> Nutzerverwaltung</a></li>
                </ul>
                <form class="navbar-form navbar-left" role="search">
                    <div class="form-group">
                        <input type="text" class="form-control" id="navbar-search-input" placeholder="Suche nach Nutzer...">
                    </div>
                </form>
            </div>
        </div>
    </nav>
</header>

<!-- Modal User Delete -->
<div id="deleteUserMod" class="modal fade modal-primary">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Benutzer löschen</h4>
            </div>
            <div class="modal-body">
                <p>Möchten Sie den aktuellen Benutzer wirklich löschen? Alle Daten gehen hierbei verloren!</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Schließen</button>
                <button id="deleteUserButton" type="button" class="btn btn-danger pull-right">Benutzer endgültig löschen</button>
            </div>
        </div>
    </div>
</div>

<!-- User Search List -->
<div id="userSearch">
    <ul id="userSearchList"></ul>
</div>

<!-- Modal Detail User -->
<div id="userModal" class="modal fade modal-primary">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>               
                </button>
                <h4 id="modalUserName"></h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-6">
                        <div><label>Email:</label></div>
                        <div><p id="modalUserMail"></p></div>

                        <div><label>Telefon:</label></div>
                        <div><p id="modalUserPlace"></p></div>

                        <div><label>Einspringer:</label></div>
                        <div><p id="modalUserUnderstudy"></p></div>

                        <div><label>Standort:</label></div>
                        <div><p id="modalUserTel"></p></div>

                        <div><label>Freie Zeiten:</label></div>
                        <div><p id="modalUserSpareTime"></p></div>

                        <div><label>Ausbildung:</label></div>
                        <div><p id="modalUserEducation"></p></div>

                        <div><label>Skills:</label></div>
                        <div><p id="modalUserSkills"></p></div>
                    </div>
                    <div class="col-sm-6">
                        <div>
                        <img id="detailProfileAvatar" class="profile-user-img img-responsive" src="{{ user.avatar.url }}" alt="User profile picture">
                        </div>
                        <br>
                        <div><p class="pSearchModal" id="modalUserJob">Schauspieler</p></div><br>
                        <div><p class="pSearchModal" id="modalUserNote"></p></div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Schließen</button>
            </div>
        </div>
    </div>
</div>

<!-- Page Content -->
<div class="content-wrapper">
    <section class="content-header">
        <h1>Gruppen</h1>
    </section>
    <section class="content">
        <div class="row">
            <div class="col-md-12">
                <div class="nav-tabs-custom">
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="#tab_1" data-toggle="tab">Aktuelle Gruppen</a></li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="tab_1">  
                            <div class="box box-solid">
                                <div class="box-body">
                                    <div class="box-group" id="accordion">
                                        <div class="panel box box-warning">
                                            <ul id="groupList"></ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <button id="addNewGroup" type="button" class="btn btn-primary">Neue Gruppe hinzufügen</button>
                    </div>
                </div>
            </div>
            
            <!-- Modal User in Group -->
            <div id="usersOverview" class="modal fade modal-primary">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <h4 class="modal-title">Nutzer in dieser Gruppe: <b id="memberCount"> </b></h4>
                        </div>
                        <div class="modal-body">
                            <ul id="groupMemberList"></ul>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default pull-right" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
          
            <!-- Modal Add Group -->
            <div id="addGroupModal" class="modal fade">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <form class="noValidateForm" method="post" class="form-vertical">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                                <h4 class="modal-title">Neue Gruppe</h4>
                            </div>
                            <div class="modal-body">
                                <div class="form-group">
                                    <label>Name:</label>
                                    <input id="groupTitle" type="text" class="form-control" required="true" placeholder="Enter..."></input>
                                </div>

                                <div class="form-group">
                                    <label>Benutzer auswählen (Mehrfachauswahl):</label>
                                    <select id="userList" multiple class="form-control"></select>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Schließen</button>
                                <button id="saveGroup" type="submit" class="btn btn-primary">Speichern</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <!-- Modal Leave Group -->
            <div id="leaveGroupMod" class="modal fade modal-primary">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <h4 class="modal-title">Gruppe verlassen</h4>
                        </div>
                        <div class="modal-body">
                            <p>Möchten Sie die Gruppe wirklich verlassen? Die verbleibenen Teilnehmer dieser Gruppe werden dadurch nicht entfernt!
                            Falls Sie der letzte Teilnehmer dieser Gruppe sind, wird diese gelöscht!</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Schließen</button>
                            <button id="leaveGroupButton" type="button" class="btn btn-danger pull-right">Gruppe verlassen</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
{% endblock %}

{% block calFunc %}
<script>

$(function () {
    
    // Prevent from sending Form
    $(document).on('submit','.noValidateForm',function (e) {
        e.preventDefault();
        return false;
    })

    jQuery.ajaxSettings.traditional = true;

    //Global Variables
    var groupSelected = "";
    var user_id = {{user.id}};

    $("#deleteUserButton").click(function () {

        $.ajax({
            type: "DELETE",
            url: "http://localhost:8000/api/actor/" + user_id + "/",
            success: function (data) {
                window.location.replace("/login");
            }
        });
    });


    // Load Groups
    $.ajax({
        type: "GET",
        url: "http://localhost:8000/api/group/",
        success: function(data) {
            if (data.length == 0) {
                $("#groupList").append('<h4>Keine Gruppen vorhanden!<h4>');
            }
            else {
                for (var key in data) {
                    var group = {
                        title: data[key].name,
                        id: data[key].id,
                        members: data[key].members
                    }

                    $("#groupList").append('<h4 id="groupList' + key + '">' + group.title + '<br><button groupID=' + group.id + ' id="noGroup' + group.id + '"  type="button" class="btn btn-danger btn-sm pull-right btn-danger-margin"><span class="ion-close-circled" disabled></span></button><br><a class="groupMember withPointer" id=' + group.id + '> Mitglieder: ' + data[key].members.length+'</a><br></h4><hr>');

                    $('#noGroup' + group.id).click(function (e) {
                        $('#leaveGroupMod').modal('show');
                        groupSelected = $(e.currentTarget).attr("groupID");
                    });
                }
            }
        }
    });

    // Leave Group Function        
    $('#leaveGroupButton').click(function (e){
        $.ajax({
            type: "GET",
            url: "http://localhost:8000/api/group/"+groupSelected+"/leave/",
            success: function(data)
                {
                    location.reload();
                }
        });
    });

    // Function Add New Group
    $("#addNewGroup").click(function (e){
        e.preventDefault();

        $.ajax({
            type: "GET",
            url: "http://localhost:8000/api/actor/",
            success: function(data)
                {
                    for (var key in data) {
                        if(data[key].first_name ==  "" && data[key].last_name == "") {
                            var actorName = "Kein Name angegeben";
                        }
                        else {
                            var actorName = data[key].first_name + " " + data[key].last_name;
                        }
                        var actorEmail = data[key].email;
                        $('#userList').append('<option value='+actorEmail+'>'+actorEmail+' - ' + actorName +'</option>');
                    }
                }
        });

        $('#addGroupModal').modal('show');
    });

    // Function Add New Group Save
    $("#saveGroup").click(function (e){
        var title = $("#groupTitle").val();
        var memberList = $("#userList").val();
        var formData = {name: title};

        $.ajax({
            url : "http://localhost:8000/api/group/",
            type: "POST",
            data : formData,
            success: function(data, textStatus, jqXHR)
                {
                   var groupID = data.id;

                   $.ajax({
                        url : "http://localhost:8000/api/group/"+groupID+"/addActors/",
                        type: "POST",
                        data : { actors: memberList },
                        success: function(data, textStatus, jqXHR)
                            {
                                location.reload();
                            },
                        error: function (jqXHR, textStatus, errorThrown)
                            {
                                console.log(jqXHR);
                            }
                    });
                },
            error: function (jqXHR, textStatus, errorThrown)
                {
                    console.log(jqXHR);
                }
        });
    });

    // Show User in Group
    $(document).on("click", "a.groupMember", function(){
        $("#groupMemberList li").remove();
        var groupID = $(this).attr("id");

        $.ajax({
            type: "GET",
            url: "http://localhost:8000/api/group/" + groupID + "/",
            success: function (data) {
                var memberArray = data.members;
                $("#memberCount").text(memberArray.length);
                for (var i = 0; i < memberArray.length; i++) {
                    $("#groupMemberList").append('<li value='+memberArray[i].email + '>'+ memberArray[i].first_name + ' ' + memberArray[i].last_name + ' - ' + memberArray[i].email + '</option>');
                    $("#usersOverview").modal("show");
                }
            }
        });
    });
});
 </script>

{% endblock %}