{% extends 'website/base.html' %}
{% block test %}

            <div class="collapse navbar-collapse pull-right" id="navbar-collapse">
                <ul class="nav navbar-nav">
                    <li><a href="/calendar"><i class="fa fa-calendar" aria-hidden="true"></i> Kalender<span class="sr-only">(current)</span></a></li>
                    <li class="active"><a href="/groups"><i class="fa fa-users" aria-hidden="true"></i> Gruppenverwaltung</a></li>
                    <li><a href="/profile"><i class="fa fa-user" aria-hidden="true"></i> Nutzerverwaltung</a></li>
                </ul>
                <form class="navbar-form navbar-left" role="search">
                    <div class="form-group">
                        <input type="text" class="form-control" id="navbar-search-input" placeholder="Search for user">
                    </div>
                </form>
            </div>
        </div>
    </nav>
</header>

<div id="testingHide">
    <ul id="myUL"></ul>
</div>

<div id="userModal" class="modal fade modal-primary">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>               </button>
                <h4 id="modalUserName"></h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-6">
                        <div><label>Email:</label></div>
                        <div><p id="modalUserMail"></p></div>

                        <div><label>Telefon:</label></div>
                        <div><p id="modalUserPlace"></p></div>

                        <div><label>Standort:</label></div>
                        <div><p id="modalUserTel"></p></div>

                        <div><label>Freie Zeiten:</label></div>
                        <div><p id="modalUserSpareTime"></p></div>

                        <div><label>Ausbildung:</label></div>
                        <div><p id="modalUserEducation"></p></div>

                        <div><label>Skills:</label></div>
                        <div><p id="modalUserSkills"></p></div>

                    </div>
                    <div class="col-sm-6">
                        <div>
                        <img class="profile-user-img img-responsive" src="{{ user.avatar.url }}" alt="User profile picture">
                        </div>
                        <br>
                        <div><p class="pSearchModal" id="modalUserJob">Schauspieler</p></div><br>
                         <div><p class="pSearchModal" id="modalUserNote"></p></div>

                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Schließen</button>
            </div>
        </div>
    </div>
</div>

<div class="content-wrapper">
    <section class="content-header">
        <h1>Gruppen</h1>
    </section>
    <section class="content">
        <div class="row">
            <div class="col-md-12">
                <div class="nav-tabs-custom">
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="#tab_1" data-toggle="tab">Aktuelle Gruppen</a></li>
                        <li><a href="#tab_2" data-toggle="tab">Gruppenanfragen <span class="label label-success">2</span></a></li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="tab_1">  
                            <div class="box box-solid">
                                <div class="box-body">
                                    <div class="box-group" id="accordion">
                                        <div class="panel box box-warning">
                                            <ul id="groupList"></ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="tab_2">
                            <div id="eventView">
                                <div class="box box-solid">
                                    <div class="box-body">
                                        <div class="box-group" id="accordion">
                                            <div class="panel box box-warning">
                                                <div class="box-header with-border">
                                                    <h4 class="box-title">
                                                        <a class="groupInviteName" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">Esensgruppe</a>
                                                    </h4>
                                                    <button type="button" class="noGroup btn btn-danger btn-sm pull-right">
                                                        <span class="ion-close-circled"></span>
                                                    </button>
                                                    <button type="button" class="yesGroup btn btn-success btn-sm pull-right">
                                                        <span class="ion-checkmark-circled"></span>
                                                    </button>
                                                </div>
                                                <div id="collapseOne" class="panel-collapse collapse">
                                                    <div class="box-body">Mitglieder<br></div>
                                                </div>
                                            </div>
                                            <div class="panel box box-danger">
                                                <div class="box-header with-border">
                                                    <h4 class="box-title">
                                                        <a class="groupInviteName" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">Party-Gruppe</a>
                                                    </h4>
                                                    <button type="button" class="noGroup btn btn-danger btn-sm pull-right">
                                                        <span class="ion-close-circled"></span>
                                                    </button>
                                                    <button type="button" class="yesGroup btn btn-success btn-sm pull-right">
                                                        <span class="ion-checkmark-circled"></span>
                                                    </button>
                                                </div>
                                                <div id="collapseTwo" class="panel-collapse collapse">
                                                    <div class="box-body">Mitlgieder<br></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <button id="addNewGroup" type="button" class="btn btn-primary">Neue Gruppe hinzufügen</button>
                    </div>
                </div>
            </div>
            
            <!-- Modal User in Group -->
            <div id="userOverview" class="modal fade modal-primary">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <h4 class="modal-title">Nutzer in dieser Gruppe:<b> 25</b></h4>
                        </div>
                        <div class="modal-body">
                            <ul>
                                <li>Tobias Zirngibl (Ersteller)</li>
                                <li>Noch EinUser</li> 
                                <li>Und EinDritter</li> 
                                <li>Und EinLetzter</li>
                            </ul>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default pull-right" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
          
            <!-- Modal Add Group -->
            <div id="addGroupModal" class="modal fade">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <h4 class="modal-title">Neue Gruppe</h4>
                        </div>
                        <div class="modal-body">
                            <div class="form-group">
                                <label>Name:</label>
                                <input id="groupTitle" type="text" class="form-control" placeholder="Enter..."></input>
                            </div>

                            <div class="form-group">
                                <label>Benutzer auswählen (Mehrfachauswahl):</label>
                                <select id="userList" multiple class="form-control"></select>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Schließen</button>
                            <button id="saveGroup" type="button" class="btn btn-primary">Speichern</button>
                        </div>
                    </div>
                </div>
            </div>
    
            <!-- Modal Accept Group -->
            <div id="acceptGroup" class="modal fade modal-primary">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <h4 class="modal-title">Gruppe beitreten</h4>
                        </div>
                        <div class="modal-body">
                            <p>Möchten Sie der Gruppe wirklich beitreten?</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-success">Gruppe beitreten</button>
                        </div>
                    </div>
                </div>
            </div>
        
            <!-- Modal Decline Group -->
            <div id="declineGroup" class="modal fade modal-primary">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <h4 class="modal-title">Gruppeneinladung ablehnen</h4>
                        </div>
                        <div class="modal-body">
                            <p>Möchten Sie die Gruppeneinladung wirklich ablehnen?</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-danger pull-right">Gruppeneinladung ablehnen</button>   
                        </div>
                    </div>
                </div>
            </div>
                
            <!-- Modal Delete Group -->
            <div id="delGroupMod" class="modal fade modal-primary">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <h4 class="modal-title">Gruppe löschen</h4>
                        </div>
                        <div class="modal-body">
                            <p>Möchten Sie die Gruppe wirklich löschen? Alle Teilnehmer dieser Gruppe werden dadurch ebensfalls entfernt!</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-danger pull-right">Gruppe löschen</button>   
                        </div>
                    </div>
                </div>
            </div>
        
            <!-- Modal Leave Group -->
            <div id="leaveGroupMod" class="modal fade modal-primary">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <h4 class="modal-title">Gruppe verlassen</h4>
                        </div>
                        <div class="modal-body">
                            <p>Möchten Sie die Gruppe wirklich verlassen? Die verbleibenen Teilnehmer dieser Gruppe werden dadurch nicht entfernt!</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-danger pull-right">Gruppe verlassen</button>   
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
{% endblock %}
{% block calFunc %}
<script>

$(function () {

    //Global Variables
    var groups = [];
    
    
     // Initiate Lists
    $(".chzn-select").chosen({
    width:"100%"
    });
    
    
     // Send CSR Token for Ajax
    var csrftoken = $.cookie('csrftoken');
    
    function csrfSafeMethod(method) {
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }

    $.ajaxSetup({
        beforeSend: function(xhr, settings) {
            if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
            }
        }
    });

    
    // Initiate Search Function
    //// Add Keyup Function for Searchbar
    $('#navbar-search-input').on('keyup', function() {
        var input, filter, ul, li, a, i;
        
        input = document.getElementById('navbar-search-input');
        filter = input.value.toUpperCase();
        ul = document.getElementById("myUL");
        li = ul.getElementsByTagName('li');
        
        $("#testingHide").show();
        $(".content-wrapper").hide();

        for (i = 0; i < li.length; i++) {
            a = li[i].getElementsByTagName("a")[0];
            if (a.innerHTML.toUpperCase().indexOf(filter) > -1) {
                li[i].style.display = "";
            } else {
                li[i].style.display = "none";
            }
        }
        if(input.value === "") {
            $("#testingHide").hide();
            $(".content-wrapper").show();
        }
    });
    
    //// Config Result List  
    $.ajax({
        type: "GET",
        url: "http://localhost:8000/api/actor/",
        success: function(data)
                {
                    for (var key in data) {
                        if(data[key].first_name ==  "" && data[key].last_name == "") {
                            var actorName = "Kein Name angegeben";
                        }
                        else {
                            var actorName = data[key].first_name + " " + data[key].last_name;
                        }
                    var actorEmail = data[key].email;
                    $('#myUL').append('<li><a id='+data[key].id+' class="userSearchResult">'+actorEmail+' - ' + actorName +'</a></li>');
                    }
                }
    });
    
    
     $("#myUL").on("click", ".userSearchResult", function(e){
        var userID = e.currentTarget.id;

        $.ajax({
            type: "GET",
            url: "http://localhost:8000/api/actor/"+userID+"/",
            success: function (data) {
                $("#modalUserName").text(data.first_name +" "+ data.last_name);
                $("#modalUserMail").text(data.email);
                $("#modalUserTel").text(data.phone);
                $("#modalUserNote").text(data.contact_notes);
                $("#modalUserPlace").text(data.location);
                $("#modalUserSkills").text(data.skills);
                $("#modalUserSpareTime").text(data.spare_time);
                $("#modalUserEducation").text(data.education);

            }
        });
        
        $("#userModal").modal('show');
    });
    
    $("#testingHide").hide();
    
    
    // Load Groups
    $.ajax({
        type: "GET",
        url: "http://localhost:8000/api/group/",
        success: function(data)
            {
                for (var key in data) {
                    var group = {
                        title: data[key].name
                    }
                    groups.push(group);
                    $("#groupList").append('<h4 id="groupList'+key+'">'+group.title+'</h4><br><br><hr>');
                }
            }
    });
    
    
            
    // Del Group Tooltip Remove?
    $('.delGroup').tooltip({
        'show': true,
        'placement': 'bottom',
        'title': "Gruppe löschen"
    });
    
    // Del Group Function
    $('.delGroup').click(function (e){
        e.preventDefault();
        $('#delGroupMod').modal('show');
    });
    
            
    // Leave Group Tooltip Remove        
    $('.leaveGroup').tooltip({
        'show': true,
        'placement': 'bottom',
        'title': "Gruppe verlassen"
    });
    
    // Leave Group Function        
    $('.leaveGroup').click(function (e){
        e.preventDefault();
        $('#leaveGroupMod').modal('show');
    });
    
            
    // Yes Group Tooltip Remove?
    $('.yesGroup').tooltip({
        'show': true,
        'placement': 'bottom',
        'title': "Einladung annehmen"
    });
    
    // Yes Group Function        
    $(".yesGroup").click(function (e){
        e.preventDefault();
        $('#acceptGroup').modal('show');
    }); 
    
            
    // No Group Tooltip Remove? 
    $('.noGroup').tooltip({
        'show': true,
        'placement': 'bottom',
        'title': "Einladung ablehnen"
    });
    
    // No Group Function
    $(".noGroup").click(function (e){
        e.preventDefault();
        $('#declineGroup').modal('show');
    });       
    
            
    // Function OpenModal
    function OpenModal() {
        $('#userOverview').modal('show');
    };
    
            
    // Function Add New Group
    $("#addNewGroup").click(function (e){
        e.preventDefault();

        $.ajax({
            type: "GET",
            url: "http://localhost:8000/api/actor/",
            success: function(data)
                {
                    for (var key in data) {
                        if(data[key].first_name ==  "" && data[key].last_name == "") {
                            var actorName = "Kein Name angegeben";
                        }
                        else {
                            var actorName = data[key].first_name + " " + data[key].last_name;
                        }
                    var actorEmail = data[key].email;
                    $('#userList').append('<option>'+actorEmail+' - ' + actorName +'</option>');
                    }
                }
        });

        $('#addGroupModal').modal('show');
    });


    // Function Add New Group Save
    $("#saveGroup").click(function (e){
        var title = $("#groupTitle").val();
        var memberList = [
                            {"id": 1, "email": "a@b.com"},
                            {"id": 2, "email": "a@c.com"}
                        ];
        console.log(memberList);
        var formData = {name: title};

        $.ajax({
            url : "http://localhost:8000/api/group/",
            type: "POST",
            data : formData,
            success: function(data, textStatus, jqXHR)
                {
                    $.ajax({
                        url : "http://localhost:8000/api/appointment/4/addActors/",
                        type: "POST",
                        data : "{members: ['a@b.com']}",
                        success: function(data, textStatus, jqXHR)
                            {
                                console.log(jqXHR);
                                console.log(textStatus);
                                console.log(data);
                            },
                        error: function (jqXHR, textStatus, errorThrown)
                            {
                                console.log(jqXHR);
                            }
                    });
                },
            error: function (jqXHR, textStatus, errorThrown)
                {
                    console.log(jqXHR);
                }
        });
    });
});
 </script>

{% endblock %}