{% extends 'website/base.html' %}
{% load static %}
{% block htmlBody %}

            <div class="collapse navbar-collapse pull-right" id="navbar-collapse">
                <ul class="nav navbar-nav">
                    <li><a href="/calendar"><i class="fa fa-calendar" aria-hidden="true"></i> Kalender<span class="sr-only">(current)</span></a></li>
                    <li><a href="/groups"><i class="fa fa-users" aria-hidden="true"></i> Gruppenverwaltung</a></li>
                    <li class="active"><a href="/profile/"><i class="fa fa-user" aria-hidden="true"></i> Nutzerverwaltung</a></li>
                </ul>
                <form class="navbar-form navbar-left" role="search">
                    <div class="form-group">
                        <input type="text" class="form-control" id="navbar-search-input" placeholder="Suche nach Nutzer...">
                    </div>
                </form>
            </div>
        </div>
    </nav>
</header>


       <div id="deleteUserMod" class="modal fade modal-primary">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <h4 class="modal-title">Benutzer löschen</h4>
                        </div>
                        <div class="modal-body">
                            <p>Möchten Sie den aktuellen Benutzer wirklich löschen? Alle ihre Daten gehen hierbei verloren!</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Schließen</button>
                            <button id="deleteUserButton" type="button" class="btn btn-danger pull-right">Benutzer endgültig löschen</button>
                        </div>
                    </div>
                </div>
            </div>



<div id="userSearch">
    <ul id="userSearchList"></ul>
</div>

<div id="userModal" class="modal fade modal-primary">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>               </button>   
                <h4 id="modalUserName"></h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-6">
                        <div><label>Email:</label></div>
                        <div><p id="modalUserMail"></p></div>
                                
                        <div><label>Telefon:</label></div>
                        <div><p id="modalUserPlace"></p></div>

                        <div><label>Einspringer:</label></div>
                        <div><p id="modalUserUnderstudy"></p></div>

                        <div><label>Standort:</label></div>
                        <div><p id="modalUserTel"></p></div>
                                
                        <div><label>Freie Zeiten:</label></div>
                        <div><p id="modalUserSpareTime"></p></div>

                        <div><label>Ausbildung:</label></div>
                        <div><p id="modalUserEducation"></p></div>
                                
                        <div><label>Fähigkeiten:</label></div>
                        <div><p id="modalUserSkills"></p></div>

                    </div>
                    <div class="col-sm-6">
                        <div>
                        <img id="detailProfileAvatar" class="profile-user-img img-responsive" src="{{ user.avatar.url }}" alt="User profile picture">
                        </div>
                        <br>
                        <div><p class="pSearchModal" id="modalUserJob">Schauspieler</p></div><br>
                         <div><p class="pSearchModal" id="modalUserNote"></p></div>

                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Schließen</button>
            </div>
        </div>
    </div>
</div>

<div class="content-wrapper">
    <section class="content-header">
        <h1>Benutzer</h1>
    </section>
    <section class="content">
        <div class="row">
            <div class="col-md-3">
                <div class="box box-primary">
                    <div class="box-body box-profile">
                        <button type="button" class="editContact btn btn-primary btn-sm pull-right">
                            <span class="glyphicon glyphicon glyphicon-pencil">
                                <span title="Profil bearbeiten" class="glyphicon glyphicon glyphicon-pencil tooltip"></span>
                            </span>
                        </button>
                        <br><br>
            <img class="profile-user-img img-responsive" src="{{ user.avatar.url }}" alt="User profile picture">
                        <a  id="uploadAvatar" class="user-upload">Profilbild ändern</a><br>

                        <h3 class="profile-username text-center"> {{user.first_name}} {{user.last_name}}</h3>

                        <p class="text-muted text-center">{{ user.job }}</p>

                        <ul class="list-group list-group-unbordered">
                            <li class="list-group-item">
                                <b>E-Mail</b> 
                                <a class="pull-right">{{user.email}}</a>
                            </li>
                            <li class="list-group-item">
                                <b>Telefon</b> 
                                <a class="pull-right">{{ user.phone }}</a>
                            </li>
                            <li class="list-group-item">
                                <b>Einspringer:</b>
                                <a class="pull-right">{{ user.understudy_name }}</a><br>
                                  <a class="pull-right">{{ user.understudy.email }}<br></a><br>
                            </li>
                            <li class="list-group-item">
                                <b>Anmerkungen zu Kontaktdaten</b>
                                <p>{{user.contact_notes}}</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-9">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Über mich</h3>
                    </div>
                    <div class="box-body">
                        <strong><i class="fa fa-book margin-r-5"></i> Ausbildung</strong>
                        <p class="text-muted">{{user.education}}</p><hr>

                        <strong><i class="fa fa-map-marker margin-r-5"></i> Standort</strong>
                        <p class="text-muted">{{user.location}}</p><hr>

                        <strong><i class="fa fa-clock-o margin-r-5" ></i></i> Freie Zeiten</strong>
                        <p class="text-muted">{{ user.spare_time }}</p><hr>

                        <strong><i class="fa fa-pencil margin-r-5"></i> Fähigkeiten</strong>
                        <p class="text-muted">{{ user.skills }}</p><hr>



                    </div>
                </div>
            </div>
        </div>
    </section>
    
    
    <!-- Modal Edit User -->
    <div id="userEdit" class="modal fade">
        <div class="modal-dialog">
            <div id="userEditContent" class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">{{user.first_name}} {{user.last_name}} - {{user.email}}</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group">
                                 <label>Vorname:</label>
                                 <input id="firstnameEdit" type="text" class="form-control" value="{{user.first_name}}">
                            </div>
                        </div>
                         <div class="col-lg-6">
                            <div class="form-group">
                                 <label>Nachname:</label>
                                 <input id="lastnameEdit" type="text" class="form-control" value="{{user.last_name}}">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label>Telefon:</label>
                                <input id="telEdit" type="text" class="form-control" value="{{user.phone}}">
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label>Einspringer E-Mail oder ID:</label>
                                <input id="understudyEdit" type="text" class="form-control"  value="{{user.understudy_email}}">
                            </div>
                        </div>
                    </div>
                    
                    <div class="form-group">
                        <div class="form-group">
                            <label>Anmerkungen zu Kontaktdaten:</label>
                            <input id="notesEdit" type="text" class="form-control" value="{{user.contact_notes}}">
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-6">
                      <div class="form-group">
                        <label>Berufsbezeichnung</label>
                        <input id="jobEdit" type="text" class="form-control" value="{{user.job}}">
                    </div>
                        </div>
                                                <div class="col-lg-6">

                    <div class="form-group">
                        <div class="form-group">
                            <label>Ausbildung:</label>
                            <input id="eduEdit" type="text" class="form-control" value="{{user.education}}">
                        </div>
                    </div>
                                                </div>
                    </div>

                      <div class="row">
                        <div class="col-lg-6">
                    <div class="form-group">
                        <div class="form-group">
                            <label>Standort:</label>
                            <input id="placeEdit" type="text" class="form-control" value="{{user.location}}">
                        </div>
                    </div>
                        </div>
                                            <div class="col-lg-6">

                    <div class="form-group">
                        <div class="form-group">
                            <label>Fähigkeiten:</label>
                            <input id="skillsEdit" type="text" class="form-control" value="{{user.skills}}">
                        </div>
                    </div>
                                            </div>
                      </div>
                    <div class="form-group">
                        <div class="form-group">
                            <label>Freie Zeiten:</label>
                            <input id="freetimeEdit" type="text" class="form-control" value="{{user.spare_time}}">
                        </div>
                    </div>
                    
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Schließen</button>
                    <button id="saveUserEdit" type="button" class="btn btn-primary">Bearbeitung abschicken</button>
                </div>
            </div>
        </div>
    </div>

 <div id="uploadAvatarModal" class="modal fade modal-primary">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <h4 class="modal-title">Profilbild ändern</h4>
                        </div>
                        <div class="modal-body">
                        <p> Bitte wählen sie ein Bild zu hochladen aus:</p><br>
 <!-- Upload Avatar -->
                        <form action="{% url 'upload_avatar' %}" method="post" enctype="multipart/form-data" class="user-upload">
                            {% csrf_token %}
                            <p>
                                <input id="avatra" type="file" class="user-upload" name="avatar">
                            </p><br>
                                <input type="submit" value="Hochladen" class="user-uploadModal" />
                        </form>
                        <!-- end Upload Avatar -->


                        </div>

                    </div>
                </div>
            </div>



{% endblock %}

{% block calFunc %}
<script>

$(function () {

    // Global Variables
    var user_id = {{ user.id }};


    // Edit User Function
    $('.editContact').click(function() {
        $("#userEdit").modal("show");
    });

        // Edit User Function
    $("#uploadAvatar").click(function() {
        $("#uploadAvatarModal").modal("show");
    });

    
    // Edit User Function Save
    $('#saveUserEdit').click(function() {
        var cnEdit = $("#notesEdit").val();
        var eduEdit = $("#eduEdit").val();
        var telEdit = $("#telEdit").val();
        var understudyEdit = $("#understudyEdit").val();
        var jobEdit = $("#jobEdit").val();
        var placeEdit = $("#placeEdit").val();
        var timeEdit = $("#freetimeEdit").val();
        var skillsEdit = $("#skillsEdit").val();
        var firstnameEdit = $("#firstnameEdit").val();
        var lastnameEdit = $("#lastnameEdit").val();

        var formData = {first_name: firstnameEdit, last_name: lastnameEdit, skills: skillsEdit, phone: telEdit,
                        job: jobEdit, location: placeEdit, spare_time: timeEdit, education: eduEdit,
                        contact_notes: cnEdit, understudy: understudyEdit};

        $.ajax({
            url : "http://localhost:8000/api/actor/"+user_id+"/",
            type: "PATCH",
            data : formData,
            success: function(data, textStatus, jqXHR)
                {
                    location.reload();
                },
            error: function (jqXHR, textStatus, errorThrown)
                {
                    var response = jqXHR.responseText.toString();
                    if(response == '{"detail":"Nicht gefunden."}'){
                        var errorString = "Einspringer wurde nicht gefunden!";
                        $('#userEditContent').notify("Bearbeiten fehlgeschlagen: " + errorString, "error", {position: "top center"});
                    }
                    console.log(jqXHR);
                }
        });
    });
});
</script>

{% endblock %}