{% extends 'website/base.html' %}
{% load static %}

{% block test %}

       <div class="collapse navbar-collapse pull-right" id="navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a href="/calendar"><i class="fa fa-calendar" aria-hidden="true"></i> Kalender<span class="sr-only">(current)</span></a></li>
            <li><a href="/groups"><i class="fa fa-users" aria-hidden="true"></i> Gruppenverwaltung</a></li>
              <li class="active"><a href="/profile/1"><i class="fa fa-user" aria-hidden="true"></i> Nutzerverwaltung</a></li>

          </ul>
          <form class="navbar-form navbar-left" role="search">
            <div class="form-group">
              <input type="text" class="form-control" id="navbar-search-input" placeholder="Search">

            </div>
          </form>
        </div>



        </div>
    </nav>
  </header>
  <!-- Left side column. contains the logo and sidebar
  <aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->



  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">

<section class="content-header">
      <h1>
        Benutzer
      </h1>
    </section>

    <!-- Main content -->
    <section class="content">

      <div class="row">
        <div class="col-md-3">

          <!-- Profile Image -->
          <div class="box box-primary">
            <div class="box-body box-profile">
                   <button type="button" class="editContact btn btn-primary btn-sm pull-right"><span class="glyphicon glyphicon glyphicon-pencil"></span></button>
                <br>
                <br>
              <img class="profile-user-img img-responsive img-circle" src="{% static 'website/dist/img/user2-160x160.jpg' %}" alt="User profile picture">
    
              <h3 class="profile-username text-center">Tobias Zirngibl</h3>

              <p class="text-muted text-center">Software Engineer</p>

              <ul class="list-group list-group-unbordered">
                  <li class="list-group-item">
                  <b>Benutzername</b> <a class="pull-right">FranzHuber</a>
                </li>
                <li class="list-group-item">
                  <b>E-Mail</b> <a class="pull-right">test@test.de</a>
                </li>
                <li class="list-group-item">
                  <b>Telefon</b> <a class="pull-right">0941/4353523</a>
                </li>
                 <li class="list-group-item">
                     <b>Anmerkungen zu Kontaktdaten</b>

              <p>Telefonisch nur vormittags, ansonsten E-Mail immer erreichbar.</p>
                 </li> 
          

             
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
   </div>
          <!-- About Me Box -->
        <div class="col-md-9">
          <div class="box box-primary">
            <div class="box-header with-border">
              <h3 class="box-title">Über mich</h3>
                       <button type="button" class="editProfile btn btn-primary btn-sm pull-right"><span class="glyphicon glyphicon glyphicon-pencil"></span></button>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <strong><i class="fa fa-book margin-r-5"></i> Ausbildung</strong>

              <p class="text-muted">
                B.S. in Computer Science from the University of Tennessee at Knoxville
              </p>

              <hr>

              <strong><i class="fa fa-map-marker margin-r-5"></i> Standort</strong>

              <p class="text-muted">Malibu, California</p>

              <hr>
                
                
                 <strong><i class="fa fa-clock-o margin-r-5" ></i></i> Freie Zeiten</strong>

              <p class="text-muted">Montags 13-16 Uhr, Freitags 8-12 Uhr</p>

              <hr>

              <strong><i class="fa fa-pencil margin-r-5"></i> Skills</strong>

              <p>
                <span class="label label-danger">UI Design</span>
                <span class="label label-success">Coding</span>
                <span class="label label-info">Javascript</span>
                <span class="label label-warning">PHP</span>
                <span class="label label-primary">Node.js</span>
              </p>

              <hr>

              <strong><i class="fa fa-file-text-o margin-r-5"></i> Anmerkungen</strong>

              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam fermentum enim neque.</p>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->

    </section>
{% endblock %}
{% block calFunc %}
   $('.editContact').tooltip({
    'show': true,
        'placement': 'bottom',
        'title': "Kontaktdaten bearbeiten"
    });
    
    $('.editProfile').tooltip({
    'show': true,
        'placement': 'bottom',
        'title': "Profil bearbeiten"
    });
    
{% endblock %}
